/* Home Page */

#homebody {
  background: #D2E1DF;
}

#favtable {
  border: 3px solid #62808D;
  padding-left: 14px;
  width: 830px;
  padding-bottom: 12px;
}

#items {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 30%;
}

footer {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  font-size: 1em;
  font-family: Courier;
}

/* Suggestion Page */

#suggbody {
  background-image: url(images/PragueBridge.jpg);
}